absl-py==2.1.0
asttokens==2.4.1
attrs==23.2.0
av==12.2.0
backcall==0.2.0
cffi==1.16.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
djitellopy==2.5.0
executing==2.0.1
flatbuffers==24.3.25
fonttools==4.53.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.0
matplotlib-inline==0.1.6
mediapipe==0.10.14
ml-dtypes==0.4.0
numpy==1.26.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
parso==0.8.3
pickleshare==0.7.5
pillow==10.3.0
prompt-toolkit==3.0.40
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
pycparser==2.22
Pygments==2.16.1
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
pyqtgraph==0.13.3
pyserial==3.5
python-dateutil==2.9.0.post0
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
sounddevice==0.4.7
stack-data==0.6.3
threadpoolctl==3.5.0
traitlets==5.9.0
wcwidth==0.2.10
zipp==3.19.2
